:local {
    .toolBarContainer {
      padding: 10px;
      width: 100%;
      text-align: center;
      background-color: #ECE0DB;
      color: #341100;
      font-family: 'American Typewriter, serif';
      font-size: 1.5rem;
    }
  }